@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Pacifico&family=Permanent+Marker&display=swap');

/* ! Regras Gerais */
body, fieldset, header, ul {margin: auto; padding: 0px;}

:root {
    --cor0: #7FFFD4;
    --cor1: #B34E36;
    --cor2: #FF9980;
    --cor3: #47B38F;

    --shadow: 4.5px 7px 7px #00000067;
    --Noneshadow: 0px black;

    --font0: 'Gemunu Libre';
    --fontnormal: 'Courier New', Courier, monospace;
}

/*-------------------*/

/* * Static         */
  /* TODO Box-level */

fieldset {
    /* height: 75vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    border-style: none;
}

h1, p {text-align: center;}

h1 {font: italic 4em var(--font0);}

ul, li {list-style: none;}

label {border-radius: 12px;}

fieldset p {
    font: normal 100px var(--fontnormal);
    max-width: 200px;
    word-wrap: break-word;
}
  
  /* TODO Inline-level */

label input[type="radio"] + * {
    display: inline-block;
}

label input[type="radio"] + * {
    position: relative;
    height: 300px;
    width: 200px;
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    transition-duration: .6s;
}

label input[type="radio"] {
    display: none;
}

/*-------------------*/

/* * Animat         */
  /* TODO Inline-level */
label input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: var(--cor2);
}
label input[type="radio"]:checked + * {
    color: var(--cor0);
}
label input[type="radio"]:checked + *::before {
    background: radial-gradient(var(--cor3) 0%, black 50%, transparent 50%, transparent); 
}

input[type="checkbox"] {
    transition: opacity 0.5s linear 0s;
    opacity: 0.5;
}

input[type="checkbox"]:checked {opacity: 1;}

/*-------------------*/

/* ! Class */
.shadows {box-shadow: var(--shadow);}
.shadowletter {text-shadow: var(--shadow)}

.button {
    background: transparent;
    height: 70px;
    width: 30px;
    cursor: pointer;
    margin-left: 16px;
    touch-action: manipulation;
    pointer-events: auto;
}

.icon-bar {
    display: block;
    width: 100%;
    height: 3px;
    background: #333;
    transition: .3s;
}
.icon-bar + .icon-bar {
    margin-top: 3px;
}
/*-------------------*/

/* ! IDs */
#MenuTitle {
    font-family: 'Permanent Marker', var(--fontnormal); font-size: 1.7em;
}

#nav-menu {
    position: fixed;
    top: 30px;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

#nav-menu:focus-within .button {
    pointer-events: none;
}

#nav-menu:focus-within .icon-bar:nth-of-type(1) {
    transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-menu:focus-within .icon-bar:nth-of-type(2) {
    opacity: 0;
}
#nav-menu:focus-within .icon-bar:nth-of-type(3) {
    transform: translate3d(0,-10px,0) rotate(-45deg);
}

#content-menu {
    margin-top: 30px;
    border-radius: 0px 6px 6px 0px;
    padding: 18px;
    width: 10%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    /* height: calc(100% - 70px); */
    pointer-events: auto;
    transform: translateX(-100%);
    transition: transform .5s;
    will-change: transform;
    contain: paint;
    opacity: 0.9;
}
#nav-menu:focus-within #content-menu {
    transform: none;
} 

/*-------------------*/