@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap');

/* ! Regras Gerais */
* {font-family: 'Spartan'; color: var(--txtcor1); margin: auto; padding: 0px;}

#inputs, input[type="text"] {background: var(--bckcor1); border-radius: 15px 5px;}

/*-------------------*/

/* * Static         */
   /* TODO Box-level */
   body {background: whitesmoke;}

   footer {
       background: black; 
       margin-top: 10px; padding: 10px;
       bottom: 0;
       left: 0;
       position: fixed;
       width: 100%;
    }

   .num p {margin: 0.5px; padding-inline: 5px;cursor: pointer;}
   .control p {
       float: right; 
       margin-right: 10px; margin-top: 10px; margin-bottom: 15px;
   }

  /* TODO Inline-level */
  main input {
      border-style: none; 
      font-size: clamp(0.5em, 1em + 1vw, 2.5em);
      border-radius: var(--bttnbr);
      margin-top: 10px;
  }

  input[type=text] {
      text-align: end; font-size: clamp(0.5em, 1em + 1vw, 2.5em);
      width: 100%; height: 70px;
      border-style: none;
      padding-right: 28px; margin-left: -13px; padding-bottom: 15px;
      margin-bottom: 20px;
      background: var(--bckcor1);
      box-shadow: var(--sdwcor1);
  }

/*-------------------*/

/* * Animat         */
  
   /* TODO Box-level */
  /* TODO Inline-level */
  #inputs input:active {
      transform: translateY(3px);
      transition: .3s;
      box-shadow: none;
  }

/*-------------------*/

/* * Events         */
  
   /* TODO Class */

/*-------------------*/

/* ! Class + Id */
.control #circle{
	width: 15px;
	height: 15px;
	background: var(--bttncor1);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border-radius: 30px;
    transition: .66s;
}

/* ! Class */

.num, .control {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}

.tela {width: 450px;}

.control .box{
    margin-right: 0px;
	width: 60px;
	height: 15px;
	background-color: hsl(224, 36%, 15%);
	border-radius: 30px;
	margin-left: 4px;
	position: relative;
}

.keynunbers, .keydel {
    width: 18%;
    padding-top: 6px; margin-inline: 7px;
}

.keynunbers {
    background: var(--bttncor2);
    box-shadow: var(--sdwcor2);
}

.keydel, .result, .keyreset {font-size: clamp(0.5em, 1em + 1vw, 2.5em);}

.keydel, .keyreset {
    background: var(--bttncor0);
    box-shadow: var(--sdwcor0);
}

.keyreset, .result {
    width: 41.5%; 
    padding-top: 10px; padding-bottom: 5px;
    margin-bottom: 15px;
}

.result {
    background: var(--bttncor1);
    box-shadow: var(--sdwcor1);
    color: black; 
}

/*-------------------*/

/* ! IDs */
#calculadora {
    background: var(--bckcor0);
    padding: 20px;
    margin-top: 50px;
    max-width: 480px;
    border-radius: 5px;
}

#inputs {
    text-align: center;
    padding: 5px;
}

/*-------------------*/